html, body {
  height: 100%;
}

body {
  font-family: 'sf_ui_textregular', 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
  color: rgb(71, 69, 69);
}

a:hover {
  color: rgba(71, 69, 69, 0.2);
  transition: .5s;
}

a:hover:before, a:hover:after {
  opacity: 0.3;
  transition: .5s;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1650px;
  margin: 0 auto;
}

button {
  border:none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
