@font-face {
  font-family: 'sf_ui_textregular';
  src: url('../../fonts/sfuitext-regular-webfont.woff2') format('woff2'),
       url('../../fonts/sfuitext-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}